* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --dark-orange: rgb(255, 38, 0);
  --light-orange: rgb(255, 20, 0);
  --bluegray: rgb(3, 32, 24);
}

/* navigation bar */
nav {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  padding: 1.5rem;
  align-items: center;
  color: white;
  background-color: var(--bluegray);
  border-bottom: solid var(--dark-orange) 3px;
}

nav > h3 {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: inherit;
}

nav > h3 > span {
  color: var(--dark-orange);
}

/* navigation links */
ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

ul > li {
  text-transform: uppercase;
}

ul > li > a {
  text-decoration: none;
  font-size: 0.9rem;
  color: white;
}

/* Banner */
.banner {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 60vh;
  gap: 2rem;
  position: relative;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.banner > h1 {
  font-size: 2.5rem;
}

.banner > h1,
.banner > h4 {
  width: 70%;
}

/* Background image for banner */
.background {
  position: absolute;
  top: 0%;
  z-index: -2;
  width: 100vw;
  height: 60vh;
  filter: blur(1px);
}

/* Translucent overlay for banner image */
.overlay {
  position: absolute;
  top: 0%;
  z-index: -1;
  width: 100vw;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.25);
}

/* Subscribe section */
.subscribe {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  color: white;
  background-color: var(--bluegray);
}

.email > input[type="email"] {
  padding: 0.5rem;
  width: 20vw;
  outline: none;
}

.email > input[type="button"] {
  padding: 0.62rem;
  background-color: var(--light-orange);
  color: white;
  border: none;
  box-shadow: 0 4px 8px 0 #acacac2f;
}

/* Images */
.images {
  display: flex;
  padding: 3rem 6rem;
  justify-content: center;
}

.list-image {
  width: 10vw;
}

.images > ul > li {
  text-transform: none;
  font-size: 0.9rem;
}

.images-centered {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Footer */
footer {
  padding: 2rem;
  background-color: var(--light-orange);
  text-align: center;
  color: white;
}
